/* .background-container{
    background:#000 url("../img/forest_tile3.png") repeat;
} */
@keyframes fadeInOnLoad {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 @keyframes flyTopOnLoad {
    0% {opacity:0;bottom:-100px;}
    100% {opacity:1;bottom:20px}
 }
.section-intro-bg
{
    background:#6e6461;
    color:#fefcee;
    display:table-cell;
    vertical-align: middle;
    width:100vw;;
}
.home-header
{
    display:flex;
    position:absolute;
    bottom:-100px;
    opacity:0;
    left:0px;
    justify-content: center;
    width:100%;
    padding:15px;
    flex-wrap: wrap;
    animation:flyTopOnLoad 700ms ease-in-out 2000ms forwards;
}
.home-header a{
    text-decoration:none;
    color:#fefceedd;
    text-align: center;
    font-family:Chelsea Market;
    margin-bottom:10px;
}
.main-nav-btn
{
    
    min-width:100px;
    border:3px solid #fefcee44;
    border-radius: 15px;
    margin-right:20px;
    padding:10px 10px;
}
/*IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400
      Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700
      IBM+Plex+Serif:wght@300;400;500;600
      Life+Savers:wght@400;700;800
      Autour+One
      Bellota:ital,wght@0,300;0,400;0,700;1,400
      Milonga
      Press+Start+2P
      Salsa
      Yeon+Sung
      Arbutus+Slab
      Averia+Gruesa+Libre
      Averia+Libre:wght@300;400;700
      Chelsea+Market
      Concert+One*/
.background-container h2{
    text-align:center;
    font-family:Chelsea Market;
    font-size:2.25rem;
}

.logo-large
{
    width:100%;
    max-width:200px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    bottom:30px;
}

.owl-container
{
    opacity:0;
    animation:fadeInOnLoad 800ms ease-in-out 0ms forwards;
}
.intro-container h1,h4,h6
{
    word-wrap: normal;
    margin-bottom:1.5rem;
    font-family:Chelsea Market;
}
.intro-container h1
{
    opacity:0;
    animation:fadeInOnLoad 500ms ease-in-out 400ms forwards;
}
.intro-container h4 .delay-text-0
{
    opacity:0;
    animation:fadeInOnLoad 500ms ease-in-out 800ms forwards;
}
.intro-container h4 .delay-text
{
    opacity:0;
    animation:fadeInOnLoad 500ms ease-in-out 1200ms forwards;
}
.section-gallery{
    background:#af977e;
    -webkit-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
}
.section-gallery h2{
    color:#251c1b;
}

.pf-row {
    /* margin-top:calc(50vh - 200px); */
    /*makes the gallery section start from half way. remove once title and second row are added*/
    padding:1.5rem;
    margin-top:0;
}

.pf-item
{
    background-color:transparent;
    /* border: 1px solid black; */
    height:400px;
    margin-bottom:20px;
    
}


.pf-item-img
{
    height:100%;
    /* width:calc(100% - 30px); */
    width:calc(100% - 30px);
    object-fit: cover;
    object-position: top;
    position:absolute;
    top:0;
    margin-left:auto;
    margin-right:auto;
    z-index:1; 
    /* outline:#ffffffbb solid 2px; */
    transition:all 150ms ease-in-out 0ms;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);  
}

.pf-item-veil
{
    /* width:calc(100% - 30px); */
    width:calc(100% - 30px);
    height:100%;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    background-image:linear-gradient(#00000000, #000000ff);
    opacity:0%;
    z-index:4;
    transition:all 150ms ease-in-out 0s;
}
.pf-item-trigger:hover .pf-item-veil
{
    opacity:95%;
    transform:scale(1.04);
}
.pf-item-trigger:hover .pf-item-img {
    transform: scale(1.04);
}

.pf-item-desc {
    width:calc(100% - 30px);
    position:absolute;
    bottom:20px;
    left:20px;
    padding-left:20px;
    padding-right:20px;
    z-index:5;
    opacity:0%;
    transition:opacity 200ms linear 0ms;
}
.pf-item-desc h4 {
    color:#dedede;
}
.pf-item-trigger:hover .pf-item-desc
{
    opacity:100%;
}

.clickable a {
    position:absolute;
    width:calc(100% - 30px);
    height:100%;
    z-index:6;
}



.navbar-custom {
    /* min-height:100px;
    position:absolute;
    top:0;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    background-color:#ffffff44 !important; */
    display:none;
}
.navbar-custom .navbar-toggler
{
    border:none;
    background:#8e857b;
}
@media only screen and (max-width:991px)
{
    .navbar-custom {
        display:flex;
        min-height:100px;
        position:absolute;
        top:0;
        margin-left:auto;
        margin-right:auto;
        width:auto;
    }
    
    
}

@media only screen and (min-width:992px)
{
    

    

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
     }
}

@media only screen and (max-width:991px)
{

}


/*Miscellaneous*/
.icon-smaller
{
    font-size:90% !important;
    vertical-align: middle !important;
    margin-bottom:5px;
}
.para-half
{
    width:40%;
    display: inline-block;
    vertical-align: middle;
}
.img-inline
{
    display:inline-block;
    width:59%;
}
.img-inline img{
    vertical-align: middle;
}
.vertical-align-middle
{
    vertical-align: middle !important;
}
.pt-10
{
    padding-top:10em;
}
.px-10
{
    padding-left:5rem;
    padding-right:5rem;
}
.px-0
{
    padding-left:0rem;
    padding-right:0rem;
}

@media only screen and (max-width:767px)
{
            .para-half
        {
            width:100%;
            display: block;
        }
        .img-inline
        {
            display:block;
            width:100%;
        }
        .intro-container h1
        {
            font-size:1.5rem;
            text-align: center;
        }
        .intro-container h4
        {
            font-size:1rem;
            text-align: center;
        }

        .home-header
        {
            bottom:0px;
            padding:0px;
            flex-wrap: nowrap;
        }
        .home-header a{
            text-decoration:none;
            color:#fefceeaa;
            text-align: center;
            font-family:Salsa;
            margin-bottom:10px;
        }
        .main-nav-btn
        {
            
            min-width:0px;
            border:none;
            border-radius: 15px;
            margin-right:10px;
            margin-left:10px;
            padding:0px;
        }
        .margin-half{
            position:relative;
            bottom:50px!important;
        }
        .logo-large
        {
            position: relative;
            bottom:0px;
        }

}
.custom-container
{
    padding-left:1rem;;
    padding-right: 1rem;
    max-width:1100px;
    margin-left: auto;
    margin-right: auto;
}


.full-height
{
    height:100vh !important;
}
.margin-half
{
    
    margin-left:auto;
    margin-right:auto;
    position:relative;
    bottom:30px;
}


.section-contact
{
    background:#565050;
}
.section-contact h2{
    color:#fefcee;
}
.section-contact h3{
    /* color:#fcb929; */
    color:#fefcee;
    font-family:Salsa;
    text-align: center;
    font-size:1.5rem;
}
.contact-card h3 a
{
    color:inherit;
    text-decoration:none;
}
.contact-card h3
{
    margin-bottom:0.75rem;
}
.contact-form-container
{
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    padding:2rem;
}
.contact-form-container
{
    font-family:Salsa;
    font-size:1.25rem;
    color:#dad4b3;
}
.contact-form-container input,textarea{
    font-size:1.25rem!important;
}
.contact-form-container button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width:150px;
    font-size:1.25rem;
}
.contact-form-container .form-control:focus{
    border-color: #fefcee;
    box-shadow: 0 0 0 0.2rem rgba(255, 180, 0, 0.35);
}
.main-footer
{
    background:#af977e;
    -webkit-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 5px 15px 0px rgba(0,0,0,0.75);
}
.footer-text
{
    font-size:9pt;
    color:#6c5b48;
    text-align: center;
    margin-bottom:0px;
    font-family:Lato;
    font-weight:400;
}
.main-footer div{
    padding:25px;
}